.buttons{
    display: flex;
    gap: 20px;
  margin-top: 6%;
}
.blackbox{
    height: 40px;
/* width: 122px; */
background-color: black;
color: white;
font-size: 14px;
border-radius: 5px;
outline: none;
/* border:0.3px solid black; */
border: none;
font-weight: 500;
padding: 5px 20px 5px 20px;
}

.outline{
    height: 40px;
/* width: 122px; */
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
font-size: 14px;
border-radius: 5px;
outline: none;
border:0.3px solid black;
font-weight: 500;
padding: 5px 20px 5px 20px;
font-weight: 600;
}

.bluebox{
    height: 40px;
    /* width: 122px; */
    background-color: rgb(24, 165, 193);
    color: rgb(255, 255, 255);
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    border: none;
    /* border:0.3px solid black; */
    font-weight: 500;
    padding: 5px 20px 5px 20px;
    font-weight: 600;
}

/* #api_res{
    position: absolute;
    margin-top:100px ;
    margin-left: 11.7%;
    font-size: 30px;

} */

#api_res p{
    font-size: 19px;
    
}